<section class="relative w-full shadow-lg">
    <img class="-z-10 h-96 w-full object-cover lg:max-h-[32rem] lg:h-fit"
         src="{{ asset('images/EPC2023_Nikola_Damjanov_Header.jpg') }}"
         alt="">
    <div class="absolute top-0 left-0 h-full w-full text-white backdrop-brightness-25  font-sharetech">
        <div class="flex h-full flex-col items-center justify-evenly text-center">
            <div>
                <h3 class="mb-2 text-huge font-extrabold uppercase tracking-widest">EPC2023</h3>
                <h2 class="mb-2 text-5xl uppercase tracking-wider">Everything Procedural</h2>
                <p class="max-w-2xl text-xl uppercase">Conference on procedural content generation for games</p>
               <!-- <h3 class="mb-2 text-xl uppercase ">Date 21-04-2023 Masterclasses 19-04-2023 &#38; 20-04-2023</h3> -->
            </div>
            <div class="flex h-16 w-full flex-col items-center justify-evenly gap-4 md:gap-8 md:flex-row md:justify-center">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeAs4HWz9npi9IwIZo5yA6sdU3Th5xcib1hozMCmm_HLksAKw/viewform" 
                    class="flex rounded-3xl bg-white py-2 pr-3 pl-6 font-bold uppercase text-black shadow-inner hover:bg-opacity-60 md:w-max">
                    Stay up to date<i data-feather="chevron-right"></i>
                </a>
            <div>

            <!--
            <div class="flex h-16 w-full flex-col items-center justify-evenly gap-4 md:gap-8 md:flex-row md:justify-center">
                <a href="javascript:void(0)"
                   class="flex rounded-3xl bg-white py-2 pr-3 pl-6 font-bold uppercase text-black shadow-inner hover:bg-opacity-60 md:w-max">
                    Get Tickets <i data-feather="chevron-right"></i>
                </a>
                <a href="{{ asset('images/EPC2022_CONF_SCHEDULE.jpg') }}"
                   class="flex rounded-3xl bg-black py-2 pr-3 pl-6 font-bold uppercase text-white shadow-inner hover:bg-opacity-60 md:w-max">
                    Download Schedule <i data-feather="chevron-right"></i>
                </a>
            </div>
            -->
        </div>        
    </div>
</section>
