{% import _self as blocks %}

{% extends 'base.html.twig' %}

{% block title %}EPC{% endblock %}

{% block body %}
    {% include 'home/hero.html.twig' %}
    <div class="container m-auto">
        {% include 'home/logo_cloud.html.twig' %}
        {% include 'home/conference.html.twig' %}
        {% include 'home/masterclass.html.twig' %}
        {% include 'home/showcase.html.twig' %}
    </div>
{% endblock %}
