{% import _self as blocks %}

{% extends 'base.html.twig' %}

{% block title %}EPC{% endblock %}

{% block body %}
    {% include 'home/hero.html.twig' %}
    <div class="container m-auto">
        {% include 'home/logo_cloud.html.twig' %}

        <hr class="mx-4 bg-black">
        {% include 'home/conference.html.twig' %}

        <hr class="mx-4 mt-4 bg-black">
        {% include 'home/masterclass.html.twig' %}

        <hr class="mx-4 mt-4 bg-black">
        {% include 'home/showcase.html.twig' %}

        <hr class="m-4 bg-black">
    </div>
{% endblock %}
