<section class="relative p-4 container m-auto">
    <div class="flex flex-col items-center justify-center rounded-xl bg-white p-4 text-center shadow-around">
        <div>
            <h3 class="font-bold">Subscribe to our newsletter</h3>
            <p>Stay up-to-date with the latest news.</p>
        </div>

        <a href="javascript:void(0)"
           class="mt-3 underline">Subscribe</a>
    </div>
</section>