<section class="relative">
    <span id="pricing" class="absolute -top-12"></span>
    <ul role="tablist" class="grid grid-cols-4 grid-rows-1 text-center align-baseline">
        <li class="w-full col-span-1 rounded-t-xl font-bold border border-b-0 border-black py-2">Industry</li>
        <li class="w-full col-span-1 rounded-t-xl font-bold border border-b py-2 bg-black bg-opacity-20 border-black">Students</li>
        <li class="w-full col-span-1 rounded-t-xl font-bold border border-b py-2 bg-black bg-opacity-20 border-black">Alumni</li>
        <li class="w-full col-span-1 rounded-t-xl font-bold border border-b py-2 bg-black bg-opacity-20 border-black">Other</li>
    </ul>
    <div class="border border-t-0 border-black p-4">
        {# Industry tab #}
        <div>
            <p>Online tickets conference <span>€49.50</span></p>
            <p>On campus tickets conference <span>€119,50</span></p>
            <p>On campus combi ticket Masterclass & Conference <span>€219,50</span></p>
        </div>
    </div>
</section>