{% import _self as video %}

<section class="relative p-4 container m-auto rounded">
    <span id="conference" class="absolute -top-16"></span>
    <div class="h-full items-center justify-auto pt-2 pb-4 text-xl text-align:justify">
        From Wednesday April 19 to Friday April 21 2022 Breda University of Applied Sciences will host the Everything Procedural Conference
        for a variety of lectures, talks, demonstrations and masterclasses in the field of procedural content generation for games.
        The event offers many opportunities to meet and share knowledge with fellow developers. 
    </div>
    <iframe class="container m-auto" width="100%" height="640" src="https://www.youtube.com/embed/2epPQrEZpfU" title="YouTube video player"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="h-full items-center justify-between pt-2 pb-4 text-xl " text-align: justify>
        The Everything Procedural Conference previously took place in 2016, 2018, 2019 and 2021 and gained strong recognition as a
        leading conference in the field of procedural content for games.
    </div>  
    <div class="h-full items-center pt-2 pb-4">  
	<a href="https://www.youtube.com/playlist?list=PLPdLkAMVHwZ7kTTzjMENXJkZpaVdnF3TH" target="new"><img src="http://everythingprocedural.com/images/EPC2016_Playlist.jpg" width="208"></a>
	<a href="https://www.youtube.com/playlist?list=PLPdLkAMVHwZ7Z2OK3X7lZoAOHat4EdEaS" target="new"><img src="http://everythingprocedural.com/images/EPC2018_Playlist.jpg" width="208"></a>
	<a href="https://www.youtube.com/playlist?list=PLPdLkAMVHwZ5cwj7rMOuXMO0egYuqNRXh" target="new"><img src="http://everythingprocedural.com/images/EPC2019_Playlist.jpg" width="208"></a>
	<a href="https://youtube.com/playlist?list=PLPdLkAMVHwZ4u6Pkiv9RJJ9-UKAs_7505" target="new"><img src="http://everythingprocedural.com/images/EPC2021_Playlist.jpg" width="208"></a>	
    <div>
</section>